@import url('https://fonts.googleapis.com/css2?family=OCR+B&display=swap');

body {
    font-family: "OCR B", monospace;    
    background-color: #f8f8f8;
    text-align: center;
    font-size: 0.9rem;
}

#welcome-screen {
    height: 100vh; /* Full screen height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222; /* Dark background */
    color: white;
    position: relative;
}

#welcome-screen footer {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 0.9rem;
}


#welcome-screen h1{
    color: #f8f8f8;
    font-weight: 500;
    font-size: 48px;
    font-size: 1.8rem;
}

#welcome-screen p1 {
    color: #f8f8f8;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 10px 20px; /* Add spacing */
}

#welcome-screen p2{
    font-weight: 500;
    font-size: 0.9rem;
    padding-top: 10px;
}

#camera {
    width: 100%;
    max-width: 230px;
    height: 320px;
    object-fit: cover;
    object-position: center;
    transform: scaleX(-1);
    aspect-ratio: 9 / 16; /* Portrait ratio */
    border: 5px solid black;
    margin-top: 15px;
}

h3 {
    margin-top: 50px;
    font-size: 25px; /* Make the text slightly bigger */
    font-size: 1rem;
    font-weight: bold;
}

#shutter-btn {
    background: none; /* Remove background */
    border: none; /* Remove border */
    font-size: 1rem; /* Keep the font size */
    font-weight: bold;
    padding: 15px 15px;
    width: 180px;
    border-radius: 15px;
    color: black; /* Ensure text and icon are visible */
}

#shutter-btn:focus, #shutter-btn:active {
    outline: none;
    box-shadow: none; /* Remove Bootstrap's active styles */
}


#download-btn, #back-btn {
    font-size: 0.9rem; /* Bigger text */
    padding: 9px; /* More padding */
    width: 150px; /* Fixed width for uniformity */
    border-radius: 15px; /* Rounded edges */
    margin: 10px; /* Space between buttons */
}

/* Make Download button stand out */
#download-btn {
    background-color: #FFB400 !important; /* Warm Kodak Yellow */
    color: black !important;
    border: none;
    font-weight: bold;
    font-size: 0.9rem;
}

#download-btn:hover {
    background-color: #0056b3; /* Darker Blue */
}

/* Back to Camera button */
#back-btn {
    background-color: #f5f5f5;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
}

#back-btn {
    border: 2px solid white !important; /* Matches background */
}


.camera-container {
    display: flex;
    justify-content: center;
}

#photo-strip img {
    width: 80px;
    height: 120px;
    border: 2px solid black;
    margin: 5px;
}

.frame-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#final-image {
    width: 100%; /* Make it responsive */
    max-width: 200px; /* Adjust to fit nicely on screen */
    height: auto;
    border: 5px solid black;
}



.hidden {
    display: none;
}
